* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.container-content-contact .contact-title {
	padding: 1rem;
}

.about_me h2 {
	color: white;
	padding: 1rem 1rem 1rem 0;
	font-size: 2rem;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.about_me p {
	color: gray;
}

.about_links {
	margin-left: 200px;
}

.about_links h2 {
	color: white;
	padding: 1rem 1rem 1rem 0;
	font-size: 2rem;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.container-content-contact {
	background-color: black;
	width: auto;
	height: auto;
	padding: 100px;
}

.contact-boxes p {
	padding: 10px;
}

.contact_icons {
	color: rgb(203, 203, 203);
	font-size: 2rem;
	margin-left: -20px;
}

.contact_icons a {
	margin-left: 20px;
	text-decoration: none;
	color: gray;

}

.contact_icons a:hover {
	color: rgb(203, 203, 203);
}

.contact-boxes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 15px;
}

@media only screen and (max-width: 992px) {

	.container-content-contact {
		background-color: black;
		width: auto;
		height: auto;
		padding: 100px 10px 100px 10px;
	}


	.about_me h2 {
		color: white;
		padding: 1rem 1rem 1rem 1rem;
		font-size: 2rem;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
	}


	.about_links {
		margin-left: 10px;
	}
}


@media only screen and (max-width: 1307px) {


	.about_links {
		margin-left: 10px;
	}
}

;