@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Kanit', sans-serif;
}

.container-content-intro {
	padding: 5% 5rem 0 5rem;
	width: 100%;
	height: auto;
}

.intro-text{
	color: white;
    padding: 4rem;
	width: 100%;
	text-align: center;
	height: 500px;
	background-color: rgb(187, 27, 27);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.intro-text .intro_name{
	text-transform: uppercase;
	color: white;
	margin: 0;
	font-weight: bold;
	font-size: 5rem;
}

.intro-text p{
	padding-top: 0px;
	font-size: 1.5rem;
}

.intro-image{
	display: grid;
	justify-content: center;
	align-items: center;
}

.myimage{
	background-color: white;
	position: relative;
	margin-top: -200px;
	border-radius: 50px;
	border: 1px solid rgb(187, 27, 27);
}

.intro-text h1{
    font-weight: bold;
	font-size: 3rem;
}


.intro-text h1 spam{
	color: rgb(187, 27, 27);
}

.intro-text p{
	padding: 1rem 0 0 0;
}

.Intro_icons{
	color: rgb(203, 203, 203);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -20px;
	padding: 30px;
}

.Intro_icons a{
	margin-left: 20px;
	text-decoration: none;
	color: rgb(203, 203, 203);
}

.Intro_icons a:hover{
	color: black;
}

.Intro_button{
	display: grid;
	justify-content: center;
	align-items: center;
}

.Intro_button a{
	text-decoration: none;
	border: 1px solid rgb(187, 27, 27);
	color: rgb(101, 101, 101);
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 2rem;
}

.Intro_button a:hover{
	background-color: rgb(187, 27, 27);
	color: white;
}

@media only screen and (max-width: 1000px) {
	.container-content-intro {
		display: block;
		width: 100%;
		height: auto;
		padding: 0 2rem 0 2rem;
		justify-content: space-between;
	}
	.intro-text{
    	justify-content: center;
	}

	.intro-image{
		display: none;
	}
};