*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Gilroy';
}


.conainter-content-header{
	box-shadow: 0 0 0 #7777;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
}

.menu-list{
	display: flex;
	flex-wrap: wrap;
}

.header-name h3{
	font-size: 2rem;
	font-weight: bold;
	color: rgb(187, 27, 27);
}

/* .menu-list ul li{
	list-style-type: none;
	padding: 2rem;
	
} */

.menu-list spam{
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 1rem;
	margin-left: 3rem;
}

.menu-list spam:hover{
	border-bottom: 2px rgb(187, 27, 27) solid;
}

.menu-button .button{
	padding: 0.8rem;
	font-family: 'Gilroy';
	font-weight: bold;
	background-color: rgb(187, 27, 27);
	border: none;
	color: white;
	border-radius: 8px;
}