*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}

.container-content-projects{
	margin-top: 2rem;
}

.container-content-projects .projects-title{
	padding: 1rem;
}

.container-content-projects .projects-title h1{
	color: rgb(187, 27, 27);
	padding: 1rem;
	font-size: 2rem;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	text-align: center;
} 

.projects-details h2{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 1.3rem;
}

.projects-details button{
	background-color: rgb(187, 27, 27);
	font-family: 'Poppins', sans-serif;
	padding: 5px;
	color: white;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}

.container-content-projects .projects-boxes{
	padding: 0 3rem 3rem 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 15px;
}

.container-content-projects .projects-boxes .project-box{
	/* padding: 0 3rem 3rem 3rem; */
	border: 1px solid rgb(112, 112, 112);
	border-bottom: 5px solid rgb(197, 124, 124);
	border-radius: 20px;
	width: 100%;
}

.projects-boxes:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.projects-boxes .projects-details{
	padding: 1rem;
	/* height: 200px; */
	margin-top: 1rem;
}

.projects-info .project_img .project_image{
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.project_skills ul{
	display: flex;
	margin-left: -5px;
}

.project_skills ul li{
	list-style-type: none;
	margin-left: 5px;
	font-size: 0.5rem;
	color: white;
	background-color: rgb(197, 124, 124);
	padding: 5px;
	border-radius: 20px;
}

.project_title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project_title a{
	color: white;
	background-color: rgb(187, 27, 27);
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 50%;
}

.project_title a:hover{
	background-color: rgb(103, 7, 7);
}

@media only screen and (max-width: 992px) {

	.container-content-projects .projects-boxes {
		padding: 1rem;
		display: grid;
		grid-template-columns: none;
		gap: 15px;
		/* padding: 0 1rem 1rem 0rem; */
	}

	.projects-boxes .projects-details{
		padding: 0.5rem;
		margin: 0.5rem;
	}

};