@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


body {
	font-family: 'Poppins', sans-serif;
}

.container-content-skill .skill-title {
	padding: 1rem;
}

.container-content-skill {
	background-color: rgb(255, 235, 235);
	padding: 5rem 0.5rem 5rem 0.5rem;
}

.container-content-skill .skill-title h1 {
	color: rgb(187, 27, 27);
	font-size: 2rem;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.container-content-skill .skill-boxes {
	padding: 0 10rem 0 10rem ;
}

/* .container-content-skill .skill-info {
	width: 100%;
	margin: 0 1rem 1rem 1rem;
} */

.skill-detail-name .categories {
	font-family: 'Poppins', sans-serif;
	/* font-weight: bold; */
	font-size: 1.3rem;
	/* text-decoration: underline; */
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.skill-detail-info h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 0.8rem;
}

.skill-detail-info {
	/* padding: 0 1rem 1rem 1rem; */
	/* display: flex; */
	/* display: flex;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
	/* gap: 15px; */
	/* gap: 20px;
	justify-content: space-between; */

	display: flex;
	flex-wrap: wrap;
}

.skill-detail-info .skill_box{
	padding: 1rem;
	/* background-color: rgb(255, 235, 235); */
	width: 100%;
	border: 1px solid rgb(187, 27, 27);
	background-color: white;
	border-radius: 10px;
	flex: 0 15%;
	margin: 5px;
}

/* .skill-details {
	border-bottom: 1px solid rgb(186, 186, 186);
	width: 100%;
	height: 400px;
	margin: 2rem 2rem 2rem 2rem;
} */

@media only screen and (max-width: 992px) {

	.container-content-skill .skill-boxes {
		height: auto;
		padding: 0;
		display: block;
	}


	.container-content-skill {
		padding: 5rem 0 5rem 0;
	}

	.container-content-skill .skill-info {
		width: 100%;
		margin: 0;
	}

	.skill-details {
		width: 100%;
		/* height: 0px; */
		padding: 0 1rem 1rem 1rem;
	}
}



@media only screen and (max-width: 1203px) {
    .container-content-skill .skill-boxes {
		padding: 0 1rem 0 1rem;
	}
}

;